<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feed</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of userList" (click)="onSelectUser(user.loginName)">
      <ion-avatar>
        <img [src]="user.avatarUrl">
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2>{{ user.loginName }}</h2>
          <p *ngIf="user.specifUserInfo?.numberOfRepo" appViewUser [numberOfRepo]="user.specifUserInfo?.numberOfRepo"># public repo: {{ user.specifUserInfo.numberOfRepo }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getUsersList($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
